.nav_image1 {
    width: 18px;
    height: 18px;
    background-image: url("/public/image/mob_nav_icon1.png");
    background-size: 18px;
}
.active1 {
    width: 18px;
    height: 18px;
    background-image: url("/public/image/mob_nav_icon1_o.png");
    background-size: 18px;
}

.nav_image2 {
    width: 18px;
    height: 18px;
    background-image: url("/public/image/mob_nav_icon4.png");
    background-size: 18px;
}
.active2 {
    width: 18px;
    height: 18px;
    background-image: url("/public/image/mob_nav_icon4_o.png");
    background-size: 18px;
}

.nav_image3 {
    width: 18px;
    height: 18px;
    background-image: url("/public/image/mob_nav_icon5.png");
    background-size: 18px;
}
.active3 {
    width: 18px;
    height: 18px;
    background-image: url("/public/image/mob_nav_icon5_o.png");
    background-size: 18px;
}