/* bottomNav 이미지 */
.nav_image1 {
    width: 22px;
    height: 22px;
    background-image: url("/public/image/mob_nav_icon1.png");
    background-size: 22px;
}

.active1 {
    width: 22px;
    height: 22px;
    background-image: url("/public/image/mob_nav_icon1_o.png");
    background-size: 22px;
}

.nav_image2 {
    width: 22px;
    height: 22px;
    background-image: url("/public/image/mob_nav_icon4.png");
    background-size: 22px;
}

.active2 {
    width: 22px;
    height: 22px;
    background-image: url("/public/image/mob_nav_icon4_o.png");
    background-size: 22px;
}

.nav_image3 {
    width: 22px;
    height: 22px;
    background-image: url("/public/image/mob_nav_icon5.png");
    background-size: 22px;
}

.active3 {
    width: 22px;
    height: 22px;
    background-image: url("/public/image/mob_nav_icon5_o.png");
    background-size: 22px;
}