body{
  font-family: 'Noto Sans KR', sans-serif;
}

button {
  cursor: pointer;
}

.top-banner {
    height: 40px;
    margin: 0 auto;
    background-color: #C8E900;
  }

 .top-banner-btn {
    line-height: 38px;
    letter-spacing: -0.06em;
    font-weight: 500;
  }
  
 .top-banner-btn span {
    font-size: 16px;
    font-weight: 700;
  }
  /* topBanner end */

  .container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
  }

  .top-menu {
    margin-left: 20px;
  }

  .top-menu ul {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }

  .menu-share {
    font-size: 12px;
    letter-spacing: -0.06em;
  }
   .line {
    width: 1px;
    height: 13px;
    margin: 8px 12px;
    background-color: #ccc;
  }
  /* topMenu end */

  .mid-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
  }

  .info-delivery {
    width: 91px;
    height: 28px;
    line-height: 14px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 18px;
    border: 1px solid rgb(216, 216, 216);
    background: #fff;
    margin: 0 194px 0 20px;
  }

  .info-delivery span {
    color: #223928;
  }

  /* searchBar area */
  .search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 420px;
    height: 36px;
    border: 1px solid #223928;
    border-radius: 30px;
  }

  .search-box {
    width: 320px;
    border: none;
    line-height: 32px;
    font-size: 14px;
    letter-spacing: -0.06em;
    margin-left: 16px;
  }

  .search-box:focus {
    outline: none;
  }

  .search-btn {
    width: 20px;
    height: 20px;
    background: url(../../../public/image/search_icon.png) no-repeat;
    background-size: 18px;
    border: none;
    margin-right: 16px;
  }
  /* searchBar end */

  .icon-menu ul {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    position: absolute;
    right: 0;
    top: 47px;
  }

  .icon-menu ul li .icon-share {
    margin-left: 20px;
    width: 26px;
    height: 26px;
    display: block;
  }

  .delivery-icon {
    width: 28px !important;
    height: 28px !important;
    background: url(../../../public/image/delivery6.png);
    background-size: 28px;
  }

  .mypage-icon {
    background: url(../../../public/image/mypge6.png);
    background-size: 26px;
  }

  .zzim-icon {
    background: url(../../../public/image/zzim6.png);
    background-size: 26px;
  }

  .cart-icon {
    background: url(../../../public/image/cart6.png);
    background-size: 26px;
  }

  /* mainMenu area */
  .main-menu {
    display: flex;
    font-weight: 400;
    letter-spacing: -0.06em;
    height: 56px;
    line-height: 56px;
  }

  .main-menu ul {
    display: flex;
    align-items: flex-end;
    margin: 0 auto;
  }

  .main-menu ul li {
    margin: 0 25px 0 25px;
    font-weight: 500;
  }

  /* category hover */
  .menu:hover {
    color: #BEDD00;
  }
  
  .category {
    display: flex;
  }

  .category-inner {
    display: block;
  }

  .category-inner:before {
    content: ''; 
    display: inline-block;
    position: relative;
    top: 5px;
    width: 20px;
    height: 20px;
    background: url(../../../public/image/category.png);
    background-size: 20px;
    margin-right: 7px;
  }

  /* category hover */
  .category-inner:hover {
    color: #BEDD00;
  }

  .category-inner:hover:before {
    content: ''; 
    display: inline-block;
    position: relative;
    top: 5px;
    width: 20px;
    height: 20px;
    background: url(../../../public/image/category_hover.png);
    background-size: 20px;
    margin-right: 7px;
  }

  .address {
    width: 125px;
    height: 30px;
    text-align: center;
    line-height: 26px;
    margin-top: 13px;
    border-radius: 30px;
    border: none;
    font-size: 12px;
    font-weight: 500;
  }

  .address::before {
    content: '';
    display: inline-block;
    position: relative;
    top: 4px;
    width: 18px;
    height: 18px;
    background: url(../../../public/image/location6.png);
    background-size: 18px;
    margin-right: 7px;
  }

  /* category hover */
  .address:hover {
    background: #ccc;
  }



