.main-header {
  width: 100%;
  box-shadow: 0px 3px 4px 0px rgba( 0, 0, 0, 0.1);
}

.fixed-header {
  position: sticky;
  top: 0;
  background-color: #fff;

  z-index: 99;
}

button {
  cursor: pointer;
}

.top-banner {
    height: 40px;
    margin: 0 auto;
    background-color: #BAE900;
  }

  .fixed-top-banner {
    display: none;
  }

 .top-banner-btn {
    line-height: 38px;
    letter-spacing: -0.06em;
    font-weight: 500;
  }
  
 .top-banner-btn span {
    font-size: 16px;
    font-weight: 700;
  }
  /* topBanner end */

  .header-container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    background: #fff;
  }

  .fixed-header-container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
  }

  .login-menu {
    margin-left: 20px;
  }

  .fixed-login-menu {
    display: none;
  }

  .login-menu ul {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }

  .menu-share {
    font-size: 12px;
    letter-spacing: -0.06em;
  }
   .line {
    width: 1px;
    height: 12px;
    margin: 5px 12px;
    background-color: #ccc;
  }
  /* login menu end */

  .logo-search-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0 5px 0;
  }

  .fixed-logo-search-menu {
    display: none;
  }

  .delivery-info {
    width: 91px;
    height: 28px;
    line-height: 14px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 18px;
    border: 1px solid rgb(216, 216, 216);
    background: #fff;
    margin: 0 194px 0 20px;
  }

  .delivery-info span {
    color: #223928;
  }

  /* searchBar area */
  .search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 420px;
    height: 36px;
    border: 1px solid #223928;
    border-radius: 30px;
  }

  .search-box {
    width: 320px;
    border: none;
    line-height: 32px;
    font-size: 14px;
    letter-spacing: -0.06em;
    margin-left: 16px;
  }

  .search-box:focus {
    outline: none;
  }

  .search-btn {
    width: 20px;
    height: 20px;
    background: url(../../../public/image/search_icon.png) no-repeat;
    background-size: contain;
    border: none;
    margin-right: 16px;
  }
  /* searchBar end */

  .user-menu {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    position: absolute;
    right: 0;
    top: 48px;
  }

  .fixed-user-menu {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    float: right;
    margin-top: 14px;
  }

  .fixed-align {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .menu-wrap ul li:nth-child(4) {
    position: relative;
  }

  .user-menu-icon {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-left: 20px;
    cursor: pointer;
  }

  .add-item-count {
    position: absolute;
    top: -8px;
    left: 38px;
    width: 16px;
    height: 16px;
    background: #BAE900;
    border-radius: 50%;
    border: 2px solid #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: #fff;
    cursor: pointer;

  }

  .none {
    display: none;
  }

  /* mainMenu area */
  .main-menu {
    display: flex;
    font-weight: 400;
    letter-spacing: -0.06em;
    height: 56px;
    line-height: 56px;
  }

  .main-manu-wrap {
    display: flex;
    margin: 0 auto;
  }

  .main-manu-wrap li {
    margin: 0 25px 0 25px;
    font-weight: 500;
  }

  /* category hover */
  .menu:hover {
    color: #2A6834;
  }
  
  .category {
    display: flex;
  }

  .fixed-category {
    margin-right: 150px;
  }

  .category-btn {
    cursor: pointer;
  }

  .category-btn:before {
    content: ''; 
    display: inline-block;
    position: relative;
    top: 5px;
    width: 20px;
    height: 20px;
    background: url(../../../public/image/category.png);
    background-size: 20px;
    margin-right: 7px;
  }

  /* category hover */
  .category-btn:hover {
    color: #2A6834;
  }

  .category-btn:hover:before {
    content: ''; 
    display: inline-block;
    position: relative;
    top: 5px;
    width: 20px;
    height: 20px;
    background: url(../../../public/image/category_hover.png);
    background-size: 20px;
    margin-right: 7px;
  }

  .address {
    width: 125px;
    height: 30px;
    text-align: center;
    line-height: 26px;
    margin-top: 13px;
    border-radius: 30px;
    border: none;
    font-size: 12px;
    font-weight: 500;
  }

  .fixed-address {
    display: none;
  }

  .address::before {
    content: '';
    display: inline-block;
    position: relative;
    top: 4px;
    width: 18px;
    height: 18px;
    background: url(../../../public/image/location6.png);
    background-size: 18px;
    margin-right: 7px;
  }

  /* category hover */
  .address:hover {
    background: #ccc;
  }



