.about-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 90px;
}

.detail-image {
    width: 420px;
    height: 420px;
}

.detail-image > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.item-info {
    letter-spacing: -0.06em;
}

.title-wrap {
    text-align: left;
    margin-bottom: 30px;
}

dl > div {
    padding: 20px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f4f4f4;
}

dl :nth-child(3) dd {
    font-weight: 500;
}

dt {
    width: 160px;
    text-align: left;
    color: #828282;
}

dd {
    word-break: break-all;
}

.detail-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.title-wrap :nth-child(2), 
.title-wrap :nth-child(3) {
    display: inline-block;
    font-size: 26px;
    font-weight: 900;
    margin-right: 10px;
}

.won {
    font-size: 18px;
    font-weight: 500;
    margin-left: 5px;
}

.detail-dimmed-price {
    display: block;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    text-decoration: line-through;
    color: #b5b5b5;
}

.empty {
    width: 100%;
    height: 500px;
    margin: auto;
    background-color: #fff;
    border: none;
}

.count-button {
    width: 92px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.count-button button {
    width: 26px;
    height: 26px;
    border: none;
    background: #fff;
    border-radius: 3px;
    text-align: center;
}

.amount-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.amount-title {
    font-size: 14px;
    font-weight: 400;
    margin-right: 10px;
}

.amount-price {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 26px;
    font-weight: 600;
    margin-top: 50px;
}

.cart-btn {
    margin-top: 30px;
    height: 56px;
    border: none;
    border-radius: 6px;
    background-color: #2A6834;
    color: #fff;
    font-size: 18px;
}