@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* @font-face {
  font-family: 'Apple SD Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(../src/fonts/AppleSDGothicNeoEB.woff2) format("woff2"),
      url(../src/fonts/AppleSDGothicNeoEB.woff) format("woff"), 
}
@font-face {
  font-family: 'Apple SD Gothic';
  font-style: normal;
  font-weight: 600;
  src: url(../src/fonts/AppleSDGothicNeoB.woff2) format("woff2"),
      url(../src/fonts/AppleSDGothicNeoB.woff) format("woff"), 
}
@font-face {
  font-family: 'Apple SD Gothic';
  font-style: normal;
  font-weight: 500;
  src: url(../src/fonts/AppleSDGothicNeoM.woff2) format("woff2"),
      url(../src/fonts/AppleSDGothicNeoM.woff) format("woff"), 
}
@font-face {
  font-family: 'Apple SD Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(../src/fonts/AppleSDGothicNeoR.woff2) format("woff2"),
      url(../src/fonts/AppleSDGothicNeoM.woff) format("woff"), 
} */

*{
  font-family: 'Noto Sans KR';
}

